<div class="profile-container">
  <h2>User Profile</h2>
  <form *ngIf="user" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="user.username"
        name="username"
        required
        [readonly]="isViewMode"
      />
    </div>

    <div>
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="user.email"
        name="email"
        required
        [readonly]="isViewMode"
      />
    </div>

    <div>
      <label for="bio">Bio:</label>
      <textarea
        id="bio"
        [(ngModel)]="user.bio"
        name="bio"
        [readonly]="isViewMode"
      ></textarea>
    </div>

    <!-- Favorite Movies Section -->
    <div *ngIf="favorites.length > 0; else noFavorites">
      <h3>Your Favorite Movies</h3>
      <ul>
        <li *ngFor="let movie of favorites">
          <h4>{{ movie.title }}</h4>  <!-- Display Movie Title -->
          <p>{{ movie.description }}</p>  <!-- Display Movie Description -->
          <button (click)="toggleFavorite(movie._id)">
            <i [class]="isMovieFavorite(movie._id) ? 'fas fa-heart' : 'far fa-heart'"></i>
          </button>
        </li>
      </ul>
    </div>
    <ng-template #noFavorites>
      <p>You have no favorite movies yet.</p>
    </ng-template>

    <button *ngIf="!isViewMode" type="submit">Save Changes</button>
    <button type="button" (click)="toggleEdit()">
      {{ isViewMode ? 'Edit' : 'View' }} Profile
    </button>
  </form>
</div>
